@font-face {
	font-family: "Raleway-Black";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/raleway/Raleway-Black.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-BlackItalic";
	font-style: italic;
	font-weight: 900;
	src: url("../fonts/raleway/Raleway-BlackItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-Bold";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/raleway/Raleway-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-BoldItalic";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/raleway/Raleway-BoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-ExtraBold";
	font-style: italic;
	font-weight: 800;
	src: url("../fonts/raleway/Raleway-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-ExtraBoldItalic";
	font-style: italic;
	font-weight: 800;
	src: url("../fonts/raleway/Raleway-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-ExtraLight";
	font-style: italic;
	font-weight: 200;
	src: url("../fonts/raleway/Raleway-ExtraLight.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-ExtraLightItalic";
	font-style: italic;
	font-weight: 200;
	src: url("../fonts/raleway/Raleway-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-Italic";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/raleway/Raleway-Italic.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-Light";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/raleway/Raleway-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-LightItalic";
	font-style: italic;
	font-weight: 300;
	src: url("../fonts/raleway/Raleway-LightItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-Medium";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/raleway/Raleway-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-MediumItalic.ttf";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/raleway/Raleway-MediumItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/raleway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-SemiBold";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-SemiBoldItalic";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/raleway/Raleway-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-Thin";
	font-style: normal;
	font-weight: 100;
	src: url("../fonts/raleway/Raleway-Thin.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway-ThinItalic";
	font-style: italic;
	font-weight: 100;
	src: url("../fonts/raleway/Raleway-ThinItalic.ttf") format("truetype");
}
