$colors: (
	primary: (
		300: hsl(222, 35%, 7%),
		400: hsl(222, 15%, 17%),
		500: hsl(222, 16%, 16%)
	),
	secondary: (
		300: hsl(207, 50%, 4%),
		400: hsl(207, 33%, 5%)
	),
	accent: (
		300: hsl(39, 77%, 35%),
		400: hsl(39, 80%, 52%),
		500: hsl(35, 96%, 50%),
		600: hsl(35, 98%, 44%),
		700: hsl(34, 89%, 55%),
		800: hsl(36, 98%, 50%)
	),
	neutral: (
		200: hsla(0, 0%, 100%, 0.100),
		300: hsl(0, 0, 100%),
		400: hsl(0, 0, 60%),
		500: hsl(0, 0, 40%),
		600: hsl(0, 0, 20%)
	)
);
