$fonts: (
    normal: (
        "black": "Raleway-Black",
        "bold": "Raleway-Bold",
        "extraBold": "Raleway-ExtraBold",
        "extraLight": "Raleway-ExtraLight",
        "light": "Raleway-Light",
        "medium": "Raleway-Medium",
        "regular": "Raleway-Regular",
        "semiBold": "Raleway-SemiBold",
        "thin": "Raleway-Thin"
    ),
    italic: (
        "blackItalic": "Raleway-BlackItalic",
        "boldItalic": "Raleway-BoldItalic",
        "extraBoldItalic": "Raleway-ExtraBoldItalic",
        "extraLightItalic": "Raleway-ExtraLightItalic",
        "lightItalic": "Raleway-LightItalic",
        "mediumItalic": "Raleway-MediumItalic",
        "regularItalic": "Raleway-Italic",
        "semiBoldItalic": "Raleway-SemiBoldItalic",
        "thinItalic": "Raleway-ThinItalic"
    )
)