%decorativeStripes {
    &::after {
        content: "";
        background: #f89108;
        width: 7rem;
        height: 0.2rem;
        position: absolute;
        top: -1.6rem;
        left: -3rem;
    }
    &::before {
        content: "";
        background: #c89c5b;
        width: 7rem;
        height: 0.2rem;
        position: absolute;
        top: -3rem;
        left: -5rem;
    }
}
%orangeText {
    grid-area: name;
    font-size: var(--fs-400);
    color: var(--clr-accent-300);
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--clr-accent-400);
    font-style: normal;
}
%roundSmallButton {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer !important;
}